@import '@carbon/ui/styles.css';

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

.grid-pattern {
  background-image:
    linear-gradient(to right, hsl(var(--border) / 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, hsl(var(--border) / 0.5) 1px, transparent 1px);
  background-size: 48px 48px;
  mask-image: radial-gradient(ellipse at top, black 40%, transparent 75%);
}
